html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: #2c2141;
  font-family: Arial, sans-serif;
  font-size: 16px;
}

.main {
  height: 100vh;
  display: flex;
  justify-content: center;
}

.profile {
  align-self: center;
  display: flex;
  width: 624px;
  padding: 32px;
  border-radius: 16px;
  background-color: #f8f8f8;
}

.profile__description {
  line-height: 22px;
}

.profile__img {
  align-self: flex-start;
  border-radius: 50%;
}

.profile__link {
  text-decoration: none;
  color: #e20613;
}

.profile__name {
  margin: 0;
  font-size: 36px;
  font-weight: normal;
}

.profile__personal-data-wrapper {
  margin-left: 32px;
}

.profile__profession {
  margin: 0;
  font-style: italic;
  color: #545454;
}

.profile__special-text {
  font-weight: normal;
  color: #ed6d05;
}
